* {
    box-sizing: border-box;
    font-family: Montserrat;
}

.container {

}


h1 {
    font-weight: 700;
    font-size: 78px;
    text-transform: uppercase;
    color: #ffffff;
    margin: 22px 0;
}

h2 {
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
    color: #18cfab;
    margin: 0 0 15px;
}

h3 {
    font-weight: 400;
    font-size: 36px;
    text-transform: capitalize;
    color: #4e4e4e;
    margin: 90px 0 100px;
    position: relative;
}

h3::after {
    content: '';
    position: absolute;
    display: block;
    border: 0;
    height: 1px;
    width: 80px;
    margin-left: -10px;
    background-color: #18cfab;
    bottom: -25px;
    left: 50%;
    transform: translate(-50%, 0);
}

h3::before {
    content: '';
    position: absolute;
    display: block;
    border: 0;
    height: 1px;
    width: 80px;
    margin-left: 10px;
    background-color: #18cfab;
    bottom: -30px;
    left: 50%;
    transform: translate(-50%, 0);
}

.logo-wrapper {
    display: flex;
    align-items: center;
;

}
.logo-text {
    font-weight: 400;
    font-size: 32px;
    color: #ffffff;
    padding-left: 6px;
}

.logo-text span {
    font-weight: 700;
    color: #18cfab;
}

.logo-link  {
    display: flex;
    align-items: center;
    text-decoration: none;
}
.wrapper {
    max-width: 1160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
}

.main-image {
    background-image: url("../img/main_image.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.main-image-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    height: 120px;
    width: 100%;
    background-color: rgba(94, 93, 88, 0.6);
    display: flex;
    justify-content: center;
}

.header-wrapper {
    width: 1160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-wrapper a {
    padding: 10px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.6);
    transition: 0.5s;
    transition-timing-function: ease;
}

.menu-wrapper a:hover {
    color: #18cfab;
    transition: 0.5s;
    transition-timing-function: ease;
}

.h1-wrapper {
    height: calc(100vh - 120px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.description {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 35px;
    padding: 0;
    margin: 0;
}

.description span {
    color: rgba(24, 207, 171, 1);
}

.motto {
    font-weight: 400;
    font-size: 36px;
    text-transform: capitalize;
    color: #d4d4d4;
    padding: 0;
    margin: 0;
}

.button-wrapper {
    margin-top: 130px;
}

.button {
    /*display: block;*/
    height: 65px;
    width: 170px;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    border: 0;
    /*border-top: 5px solid #ffffff;*/
    border-radius: 3px;
    padding: 15px 0;
    position: relative;
    z-index: 0;
    cursor: pointer;
    box-shadow: inset 0px 5px 0px 0px white;
}

.button.primary {
    background-color: #18cfab;
}

.button.secondary {
    background-color: #00cbf6;
}

.button.hidden {
    display: none;
}

.button.load-more {
    margin-bottom: 100px;
}

/*.button::before {*/
/*    content: '';*/
/*    display: block;*/
/*    height: 100%;*/
/*    width: 100%;*/
/*    position: absolute;*/
/*    border: 0;*/
/*    background-color: #ffffff;*/
/*    !*bottom: 5px;*!*/
/*    top: 0;*/
/*    left: 0;*/
/*    transform: translate(0, -5px);*/
/*    border-radius: 3px;*/
/*    z-index: -2;*/
/*}*/

.advantages-wrapper {
    width: 100vw;
    height: 380px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border-top: 8px solid #ffffff;
    padding: 0;
}

.advantages-wrapper > div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
}

.advantage {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.advantages-wrapper .adwantage-wrapper:nth-child(2n) {
    background-color: #18cfab;
    color: #ffffff;
}

.advantages-wrapper .adwantage-wrapper:nth-child(2n + 1) {
    background-color: #1c2a33;
    color: #18cfab;
}


.our-services-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.our-services-h3-wrapper {
    display: flex;
    justify-content: center;
}

.tabs-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

ul {
    list-style: none;
    padding-left: 0;
    width: 100%;
}

.tabs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    padding: 0;
    margin: 0;
    background-color: #f8fcfe;
}

.tabs-title {
    display: block;
    color: #717171;
    cursor: pointer;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    padding: 18px 0;
    transition: 0.5s;
    transition-timing-function: ease;
    border: 1.5px solid transparent;
    position: relative;
    z-index: 0;
}

.tabs-title.active {
    background-color: #18cfab;
    color: #ffffff;
}

.tabs-title.active:after {
    display: block;
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 15px);
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #18cfab;
    z-index: 1;
}

.tabs-title:hover {
    border: 1.5px solid #18cfab;
    transition: 0.5s;
    transition-timing-function: ease;
}

.our-services-tab {
    display: none;
    width: 100%;
    margin: 25px 0;
}

.our-services-tab.active {
    display: block;
}

.our-services-tab-wrapper {
    display: flex;
    gap: 15px;
}

.our-services-tab-wrapper p {
    font-weight: 400;
    font-size: 14px;
    color: #777777;
    line-height: 24px;
}

.our-services-tab img {
    max-width: 192px;
}

.purchase-background-wrapper {
    width: 100vw;
    height: 476px;
    background-image: url("../img/purchase_background.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.purchase-wrapper {
    height: 68px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.purchase-wrapper p {
    font-weight: 400;
    font-size: 16px;
    color: #d8d8d8;
    margin-bottom: 60px;
}

.our-amazing-work-background-wrapper {
    background-color: #e9edef;
    width: 100vw;
    display: flex;
    justify-content: center;
}

.our-amazing-work-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.load-more {
    display: flex;
    justify-content: center;
    align-items: center;
}

.load-more img {
    margin-right: 15px;
}

.breaking-news-wrapper {
    width: 1160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto 128px;
}

.breaking-news-blog {
    width: 100%;
    display: grid;
    grid-row-gap: 35px;
    grid-column-gap: 45px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.blog-item {
    position: relative;
}

.blog-item a {
    text-decoration: none;
}

.blog-item-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 25px;
    margin-top: 10px;
    padding: 0;

}

.blog-item-desription p {
    font-weight: 700;
    font-size: 18px;
    color: #717171;
    margin: 0 0 10px 0;
    padding: 0;
    transition: 0.5s;
    transition-timing-function: ease;
}

.blog-details {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.blog-details p {
    font-weight: 400;
    font-size: 14px;
    color: #777777;
    margin: 0;
    padding: 0;
}

.stripe {
    height: 13px;
    border: 0.5px solid #777777;
    margin: 0 15px;
}


.blog-date {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 68px;
    background-color: #203e38;
    color: #ffffff;
    position: absolute;
    top: 0;
    right: 0;
    transition: 0.5s;
    transition-timing-function: ease;
}

.blog-date p {
    margin: 5px 0;
    padding: 0;
}

.blog-item:hover .blog-date {
    background-color: #18cfab;
    transition: 0.5s;
    transition-timing-function: ease;
}

.blog-item:hover .blog-item-title {
    color: #18cfab;
    transition: 0.5s;
    transition-timing-function: ease;
}

.our-amazing-work-tabs {
    width: 582px;
    display: flex;
    padding: 0;
    margin: 0 0 70px 0;
}

.our-amazing-work-tabs-title {
    background-color: transparent;
    border: 1px solid #dadada;
    color: #717171;
    cursor: pointer;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    padding: 15px;
    transition: 0.5s;
    transition-timing-function: ease;
}

.our-amazing-work-tabs-title.active {
    border: 1.5px solid #18cfab;
}

.our-amazing-work-tabs-title:hover {
    border: 1.5px solid #18cfab;
    transition: 0.5s;
    transition-timing-function: ease;
}

.our-amazing-work-samples {
    max-width: 1140px;
    max-height: 618px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row-gap: 0;
    margin-bottom: 90px;
    overflow: hidden;
}

.first-click {
    max-height: 1236px;
}

.second-click {
    max-height: 1854px;
}

.sample {
    position: relative;
    display: block;
    height: 206px;
}

.sample.hidden {
    display: none;
}

.sample img {
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 0;
}

.sample.hidden {
    display: none;
}

.sample-hover {
    background-color: #e9edef;
    border-top: 3px solid #18cfab;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    opacity: 0;
    transition: 0.5s;
    transition-timing-function: ease;
}

.sample-hover:hover {
    opacity: 1;
    transition: 0.5s;
    transition-timing-function: ease;
}

.sample-icon-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.sample-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #18cfab;
    margin: 25px;
    position: relative;
    transition: all .4s ease;
}

.sample-icon:hover {
    background-color: #18cfab;
    transition: all .4s ease;
}

.sample-icon:hover svg {
    opacity: 0;
    transition: all .4s ease;
}

.sample-icon:after {
    content: '';
    width: 12px;
    height: 12px;
    background-color: #ffffff;
    opacity: 0;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    position: absolute;
    cursor: pointer;
    transition: all .4s ease-in-out;
}
.sample-icon:hover:after {
    /*content: '';*/
    /*width: 12px;*/
    /*height: 12px;*/
    /*background-color: #ffffff;*/
    /*bottom: 50%;*/
    /*left: 50%;*/
    /*transform: translate(-50%, 50%);*/
    /*position: absolute;*/
    /*cursor: pointer;*/
    /*transition: all 1s ease-in-out;*/
    opacity: 1;
    transition: all .4s ease-in-out;
}
.sample-title {
    font-weight: 700;
    font-size: 14px;
    color: #18cfab;
    text-transform: uppercase;
    margin: 5px;
}

.sample-category {
    font-weight: 400;
    font-size: 12px;
    color: #8a8a8a;
    text-transform: capitalize;
    margin: 5px;
}

.people-say-background-wrapper {
    background-image: url("../img/people_say_background.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 853px;

}

.people-say-wrapper {
    height: 100%;
    max-width: 1160px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.people-say-wrapper h3 {
    color: #ffffff;
}

.carousel-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    width: 100%;
    height: 100%;
}

.big-carousel {
    display: flex;
    width: 100%;
    min-height: 397px;
    position: relative;
}

.feedback {
    display: flex;
    visibility: hidden;
    max-width: 1160px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    opacity: 0;
}

.feedback.animation-left {
    transform: translate(-200px, 0);
}

.feedback.animation-right {
    transform: translate(200px, 0);
}

.feedback.active {
    display: flex;
    visibility: visible;
    opacity: 1;
    transform: translate(0, 0);
    transition: all 1s ease-in-out;
}

.feedback-text {
    font-weight: 400;
    font-size: 16px;
    color: #bbbbbb;
    text-align: center;
    position: relative;
}

.feedback-text::before {
    content: '';
    background-image: url("../img/people_say/quotation_mark.svg");
    background-repeat: no-repeat;
    position: absolute;
    display: block;
    height: 33px;
    width: 47px;
    top: -60px;
    left: 47%;
}

.customer-img-wrapper {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    height: 142px;
    width: 142px;
}

.customer-img-wrapper img {
    width: 100%;
}

.customer-name {
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
    color: #18cfab;
    margin: 0;
}

.customer-position {
    font-weight: 400;
    font-size: 13px;
    text-transform: capitalize;
    color: rgba(187, 187, 187, 1);
    margin: 15px;
}

.customer-background {
    width: 166px;
    height: 166px;
    background-color: #18cfab;
    opacity: 0.2;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    display: block;
}

.small-carousel {
    display: flex;
    justify-content: center;
    align-items: center;
}

.small-carousel-avatar {
    width: 60px;
    height: 60px;
    position: relative;
    z-index: 2;
    margin: 30px;
    transition: 0.5s;
    transition-timing-function: ease;
    cursor: pointer;
}

.small-carousel-avatar img {
    width: 100%;
    height: 100%;

}

.small-carousel-avatar-background {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #18cfab;
    opacity: 0.2;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    margin: 0;
}

.small-carousel-avatar.active {
    transform: translate(0, -15px);
    transition: 0.5s;
    transition-timing-function: ease;
}

.arrow {
    width: 30px;
    height: 30px;
    border: 1px solid #bbbbbb;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
    transition: 0.5s;
    transition-timing-function: ease;
    cursor: pointer;
}

.arrow svg {
    fill: #bbbbbb;
    z-index: 2;
    transition: 0.5s;
    transition-timing-function: ease;
}

.arrow:hover {
    background-color: #18cfab;
    transition: 0.5s;
    transition-timing-function: ease;
}

.arrow:hover svg {
    fill: white;
    transition: 0.5s;
    transition-timing-function: ease;
}

.gallery-wrapper {
    max-width: 1160px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* FOOTER*/

footer {
    width: 100vw;
    height: 121px;
    background-color: #22353f;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grey-text-in-footer {
    font-weight: 300;
    font-size: 14px;
    color: #aeaeae;
}

.green-text-in-footer {
    color: #18cfab;
}